[core]
    editor = "'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin"
    excludesfile = "C:/Users/joao/.gitignore-global"
    autocrlf = true

[user]
    name = "Joao Rafael"
    email = jjrafael@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[merge]
    tool = winmerge
[mergetool]
    prompt = false
[mergetool "winmerge"]
    path = c:/Program Files (x86)/winmerge/winmergeu.exe
    cmd = wMerge.sh \"$MERGED\" \"$REMOTE\"
[mergetool]
    keepBackup = false
    trustExitCode = false

[diff]
    tool = winmerge
    guitool = winmerge
[difftool "winmerge"]
    path = c:/Program Files (x86)/winmerge/winmergeu.exe
    cmd = \"c:/Program Files (x86)/winmerge/winmergeu.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[gui]
    recentrepo = C:/Efacec/PROD_P2/efa-components/java/efa-chartgui
    
[alias]
    #show all alias
    alias = "!git config -l | grep alias | cut -c 7-"

    #show files changed on last commit
    last = log --name-status HEAD^..HEAD

    #log history
    lh = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph

    #log history files
    lf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    
    #list modified files in a commit
    lc = diff-tree --no-commit-id --name-status -r

    #diff changes in files in a commit
    dc = "!f() { git difftool $1^! $2; }; f"

    #diff directory
    dd = difftool --dir-diff
    
    #diff file
    df = difftool
    
    #branch
    sh = branch
    br = branch
    
    #checkout
    co = checkout
    
    #commit
    ci = commit
    
    #status
    st = status

    #cherry pick
    cp = cherry-pick

    #revert changes
    revert = reset HEAD --

    #amend last commit
    amend = commit --amend

    #find git history
    find = "!f() { git log -S$1; }; f"
        
    #creates an empty base repository
    bare = init --bare --shared 

    #backup gitconfig
    bak = "!f() { cd /c/Projects/gitconfig/; cp ~/.gitconfig .; git add .gitconfig; git ci -m 'updated $1'; git push -u origin; cd -; }; f"
